In [26]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [27]:
excel_file = './wb_mil_spend_gdpp.xls'
excel_df = pd.read_excel(excel_file) 
excel_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.860389,9.354596,8.302760,4.696373,4.311764,5.109793,3.833142,3.680251,3.576700,NaN
2,Angola,AGO,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.464159,10.604491,8.704543,8.698623,12.025073,12.887743,11.479823,12.525989,10.321416,NaN
3,Albania,ALB,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.934784,2.131171,2.107534,2.072532,1.754650,1.621861,1.255319,1.185619,1.399974,NaN
4,Andorra,AND,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
excel_df_2 = pd.DataFrame({ 
    "Country_Name": excel_df["Country Name"],
    "Country_Code": excel_df["Country Code"],
    "military_expenses": excel_df["2016"]
    })
print(excel_df_2.head())
print(excel_df_2.info())

  Country_Code Country_Name  military_expenses
0          ABW        Aruba                NaN
1          AFG  Afghanistan           3.680251
2          AGO       Angola          12.525989
3          ALB      Albania           1.185619
4          AND      Andorra                NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 3 columns):
Country_Code         264 non-null object
Country_Name         264 non-null object
military_expenses    190 non-null float64
dtypes: float64(1), object(2)
memory usage: 6.3+ KB
None

In [29]:
excel_df_3= excel_df_2.dropna(how='any')
print(excel_df_3.info())
excel_df_3.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190 entries, 1 to 263
Data columns (total 3 columns):
Country_Code         190 non-null object
Country_Name         190 non-null object
military_expenses    190 non-null float64
dtypes: float64(1), object(2)
memory usage: 5.9+ KB
None

  Country_Code Country_Name  military_expenses
1          AFG  Afghanistan           3.680251
2          AGO       Angola          12.525989
3          ALB      Albania           1.185619
5          ARB   Arab World          18.260610
7          ARG    Argentina           1.994048

In [30]:
connection_string = 'root@localhost/Happiness_Indicators_2016'
engine = create_engine(f'mysql+mysqlconnector://{connection_string}')
print(engine)

Engine(mysql+mysqlconnector://root@localhost/Happiness_Indicators_2016)

In [31]:
engine.table_names()

['military', 'military_expense']

In [32]:
conn = engine.connect()
excel_df_4 = pd.read_sql("SELECT * FROM military_expenses", conn)
excel_df_4.head()

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'happiness_indicators_2016.military_expenses' doesn't exist [SQL: 'SELECT * FROM military_expenses']

In [33]:
excel_df_3.to_sql(name='military_expenses', con=engine, if_exists='append', index=True)
excel_df_3.head()

  Country_Code Country_Name  military_expenses
1          AFG  Afghanistan           3.680251
2          AGO       Angola          12.525989
3          ALB      Albania           1.185619
5          ARB   Arab World          18.260610
7          ARG    Argentina           1.994048

In [34]:
engine.table_names()

['military', 'military_expense', 'military_expenses']

In [18]:
excel_df_5 = pd.read_sql("SELECT * FROM military_expenses", conn)
excel_df_5.head()

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'happiness_indicators_2016.military_expenses' doesn't exist [SQL: 'SELECT * FROM military_expenses']